<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear habitación</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <br>
    <div class="container border border-2 w-70">    

    <h1 class="text">Crear habitación</h1>

    <form th:action="@{/checkOuts/new/save}" method="post">
        
        <label class="col-form-label" for="fecha">Fecha del checkOut</label>
        <input class="form-control" type="date" id="fecha" name="fecha" value = 0 ><br>

        <label class="col-form-label" for="idHabitacion">Número de habitación</label>
        <select class="form-control" id="idHabitacion" name="idHabitacion" required>
            <option th:each="habitacion : ${habitacions}" th:value="${habitacion.id}" th:text="${habitacion.numero}"></option>
        </select><br>

        <label class="col-form-label" for="idReserva">Número de id de reserva</label>
        <select class="form-control" id="idReserva" name="idReserva" required>
            <option th:each="reserva : ${reservas}" th:value="${reserva.id}" th:text="${reserva.id}"></option>
        </select><br>

        <br>
        <div class="text-center">
        <input type="submit" value="Guardar" class="btn btn-primary">
        <a th:href="@{/checkOuts}" class="btn btn-primary">Cancelar</a>
        </div>
        </br>
    </form>
    </div>
</body>
</html>