<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hotel de los Andes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <style>
        .custom-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 10px;
            margin-top: 50px;
        }

        .btn{
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container custom-container">
        <h1>Hotel de los Andes</h1>
        <h3>Bienvenidos!</h3>
        <img th:src="@{/images/A.png}" width="350" alt="logo">
        
        <div class = "row">
            
            <div class = "column p-4" >
                <a th:href="@{/tiposHabitacion}" class="btn btn-primary btn-block">RF1. Tipos de habitación</a>
                <a th:href="@{/habitaciones}" class="btn btn-primary btn-block">RF2. Habitaciones</a>
                <a th:href="@{/tiposServicio}" class="btn btn-primary btn-block">RF3. Tipos de servicio</a>
                <a th:href="@{/reservas}" class="btn btn-primary btn-block">RF4. Reservas</a>
                <a th:href="@{/checkIn}" class="btn btn-primary btn-block">RF5. CheckIn</a>
                <a th:href="@{/consumos}" class="btn btn-primary btn-block">RF6. Registrar consumos</a>
                <a th:href="@{/checkOut}" class="btn btn-primary btn-block">RF7. CheckOut</a>
            </div>
            <div class = "column p-4" >
                <a th:href="@{/rfc1}" class="btn btn-secondary btn-block">RFC1. Dinero por habitación</a>
                <a th:href="@{/rfc2}" class="btn btn-secondary btn-block">RFC2. Índice de ocupación</a>
                <a th:href="@{/rfc3}" class="btn btn-secondary btn-block">RFC3. Consumo de un cliente</a>
                <a th:href="@{/rfc4}" class="btn btn-secondary btn-block">RFC4. Avanzado a seleccionar</a>
            </div>

            </div>
        
    </div>
    
</body>
</html>
