<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos servicio</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div>
        <h1>MOSTRAR EL DINERO RECOLECTADO POR SERVICIOS EN CADA HABITACIÓN EN EL ÚLTIMO AÑO CORRIDO</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo de servicio</th>
                    <th>Costo Total</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="dato : ${Costo}">
                    <tr>
                        <td th:text="${dato[0]}"></td>
                        <td th:text="${dato[1]}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <a th:href="@{/}" class="btn btn-primary">Volver</a>
    </div>
</body>
</html>