<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Índice de ocupación</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div>
        <h1>Mostrar el índice de ocupación de cada una de las habitaciones del hotel</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id de habitación</th>
                    <th>Porcentaje de ocupación</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="dato : ${rta}">
                    <tr>
                        <td th:text="${dato[0]}"></td>
                        <td th:text="${dato[1] + '%'}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <a th:href="@{/}" class="btn btn-primary">Volver</a>
    </div>
</body>
</html>