<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFC3</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div>
        <h1>Mostrar el consumo en HotelAndes por un cliente, en un rango de fechas indicado</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Servicio consumido</th>
                    <th>Costo del consumo</th>
                    <th>Descripción del consumo</th>
                    <th>Fecha de consumo</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="dato : ${consumos}">
                    <tr>
                        <td th:text="${dato.servicio.tipo}"></td>
                        <td th:text="${'$' + dato.servicio.costo}"></td>
                        <td th:text="${dato.servicio.descripcion}"></td>
                        <td th:text="${dato.fecha}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <a th:href="@{/}" class="btn btn-primary">Volver</a>
    </div>
</body>
</html>