<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar clientes excelentes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div>
        <h1>Consultar clientes excelentes</h1>
        
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo documento</th>
                    <th>Número de documento</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Motivo</th>
            </thead>
            <tbody>
                <th:block th:each="dato : ${rta}">
                    <tr>
                        <td th:text="${dato.tipoDocumento}"></td>
                        <td th:text="${dato.numDocumento}"></td>
                        <td th:text="${dato.nombre}"></td>
                        <td th:text="${dato.correo}"></td>
                        <td>Por estancia en los 3 trimestres de este año</td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <a th:href="@{/rfc4}" class="btn btn-primary">Volver</a>
    </div>
</body>
</html>